*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
.main-container{
    display: flex;
    width: 230px;
}
main{
    width: 10%;
    padding: 20px;
}
.sidebar {
    background-color: #032234;
    color: beige;
    height: 100vh;
    left: 0;
    top: 0;
    min-width: 210px;
}
.logo-container{
    display: flex;
    align-items: center;
    padding: 20px 10px 25px 0px;
}
.second-lc{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}
.second-lc h4{
    margin-top: 14%;
    font-size: 20px;
}
.lc-cont{
    display: flex;
    margin-left: -15px;
}
.logo{
    width: 90px;
    height: auto;

}
.menu-bars{
    display: flex;
    font-size: 15px;
    margin-left: 30px;
    cursor: pointer;
    color: #ffffff;
    margin-top: -1%;
}
.link {
    display: flex;
    color: white;
    padding: 12px 35px;
    gap: 15px;
    background-size: 200% 100%;
    background-position: 100%;
    align-items: center;
}
.link:hover {
    color: #6176BA;
    background: white;
    cursor: pointer;
    border-radius: 20px 0px 0px 20px;
}
.icon{
    font-size: 23px;
} 
.link-text{
    font-size: 13px;
    padding-left: 0;
}
.link:active {
    background: pink;
    color: #0bbd1d;
}
.main-wrapper {
    display: flex; 
}  
