.prod-container tbody tr{
    font-size: small;
    border: transparent;
}
.prod-container tbody tr:hover{
    border-left: 4px solid blue;
    background-color: #dbeafe;

}
.prod-container tbody tr td{
    margin-left: 20px;
}

/* DASHBOARD */
.dashcards-container{
    display: flex;
    flex-direction: row;
    width: 70%;
    justify-content: space-between;
}
.prod-card, .assi-card, .users-card{
    height: 80px;
    text-align: center;
    border-radius: 5px;
    font-weight: 700;
    transition: all .60s ease;
    font-size: 17px;
}

/* RESPOSIVENESS */
@media  screen and (max-width: 1053px) {
    .dashcards-container {
            display: flex;
            flex-direction: row;
            width: 100%;
            justify-content: space-between;
        }
    
        .prod-card,
        .assi-card,
        .users-card {
            height: 70px;
            text-align: center;
            border-radius: 5px;
            font-weight: 700;
            font-size: 13px;
            width: 150px;
        }
}



