.prod-container tbody tr{
    font-size: small;
    border: transparent;
}
.prod-container tbody tr:hover{
    border-left: 4px solid blue;
    background-color: #dbeafe;

}
.prod-container tbody tr td{
    margin-left: 20px;
}