.notification-card {
    bottom: 20px;
    right: 20px;
    color: white;
    z-index: 1000;
}

.notification-card.success {
    background-color: #28a745;
}

.notification-card.error {
    background-color: #dc3545;
}