.login-bkg{
    background-image: url("../../images/bkg.jpg");
    height: 560px;
    width: 400px;
}
input, .passwords {
    border: none;
    outline: none;
    border-radius: 15px;
    padding: 1em;
    background-color: #e6f7ff;
    box-shadow: inset 2px 5px 10px rgba(0,0,0,0.03);
    transition: 300ms ease-in-out;
    outline: pink;
  }
input:focus {
    transform: scale(1.005);
    box-shadow: 3px 3px 10px #969696,
               -3px -3px 10px #ffffff;
  }

  /* RESPONSIVENESS */
  @media screen and (max-width: 1053px) {
    .auth-wrapper{
      margin-left: 0px;
      width: 800px;
    }
    .t-button{
      margin-left: 450px;
    }
  }
  @media screen and (max-width: 855px) {
    
          .auth-wrapper {
            margin-left: 0px;
            width: 600px;
          }
          .login-bkg{
            width: 350px;
          }
          .login-bkg h3{
            font-size: 50px;
            padding: auto;
            margin-top: 20%;
          }
    
          .t-button {
            margin-left: 450px;
          }
  }